<div class="container mydiv">
  <div class="row d-flex">
    <!-- Product Card Start -->
    <div class="col-md-4" *ngFor="let data of ELEMENT_DATA">
      <!-- bbb_deals -->
      <div class="bbb_deals">
        <div class="bbb_deals_slider_container">
          <div class="bbb_deals_item">
            <div class="bbb_deals_image">
              <img src="{{ data.image_url }}" alt="" />
            </div>
            <div class="bbb_deals_content">
              <div
                class="bbb_deals_info_line d-flex flex-row justify-content-between"
              >
                <div class="bbb_deals_item_name">
                  {{ data.name }}
                </div>
                <div class="bbb_deals_item_price ml-auto">
                  ৳{{ data.price }}
                </div>
              </div>
              <div class="available">
                <div
                  class="available_line d-flex flex-row justify-content-between"
                >
                  <div class="available_title">
                    Available: <span>{{ data.quantity }}</span>
                  </div>
                  <div class="sold_stars ml-auto">
                    <i
                      class="fa fa-star"
                      *ngFor="let num of createRange(data.rating)"
                    ></i>
                  </div>
                </div>
                <div class="available_bar">
                  <span style="width: 17%"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a routerLink="/Product/product-details/{{ data.short_code }}"
          ><button class="btn btn-primary">Details</button></a
        >
      </div>
    </div>
    <!-- Product Card End -->
  </div>
</div>
