<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2022 All Rights Reserved by
          <a href="https://www.facebook.com/Moheb619">Saeed Hossain Moheb</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="https://www.facebook.com/Moheb619"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a class="dribbble" href="https://moheb.netlify.app/"
              ><i class="fa fa-dribbble"></i
            ></a>
          </li>
          <li>
            <a class="linkedin" href="https://www.linkedin.com/in/moheb619"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
